build==1.4.0
beautifulsoup4==4.14.2
email-validator==2.3.0
fastapi==0.129.0
fastapi-cli==0.0.21
fastapi-cloud-cli==0.12.0
httptools==0.7.1
Jinja2==3.1.6
pip==26.0.1
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
PySocks==1.7.1
python-multipart==0.0.22
PyYAML==6.0.3
selenium==4.40.0
setuptools==82.0.0
watchfiles==1.1.1
websockets==16.0
wheel==0.46.3
pytest==8.4.2
